@model Blog
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <h3 class="mt-3">Slider detail</h3>
    <div class="row mt-5">
        <img src="~/assets/img/blog/@Model.Image" alt="Alternate Text" style="width:350px;height:350px" />
        <h5 class="mt-2">@Model.Author</h5>
        <p>@Model.Date</p>
        <p>@Model.Text</p>
        <p>@Model.Desc</p>
    </div>
    <a asp-action="Index" class="btn btn-primary mt-3">Go back</a>
</div>