@model Blog
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Photo"></label>
            <input class="form-control" style="width:300px" asp-for="Photo">
            <span class="text-danger" asp-validation-for="Photo"></span>

            <label asp-for="Author"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Author" maxlength="500">

            <label asp-for="Date"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Date" maxlength="500">

            <label asp-for="Text"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Text" maxlength="500">

            <label asp-for="Desc"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Desc" maxlength="500">
        </div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>