@model TestimotionalArea

<div class="single-testimonial">
    <div class="testimonial-info">
        <div class="testimonial-img">
            <img src="~/assets/img/testimonial/@Model.Image" alt="testimonial">
        </div>
        <div class="testimonial-content">
            <p>@Model.Desc</p>
            <h4>@Model.Name</h4>
            <h5>@Model.Position</h5>
        </div>
    </div>
</div>
